<ion-view view-title="Roll" class="roll">
    <ion-side-menus>
        <ion-side-menu side="left">
            <input type="number" placeholder="Count" min="1" ng-model="count" ng-change="roll(count, sides, modifier)" />            d
            <input type="number" placeholder="Sides" min="2" ng-model="sides" ng-change="roll(count, sides, modifier)" />            +
            <input type="number" ng-model="modifier" placeholder="Modifier" ng-change="roll(count, sides, modifier)" />
        </ion-side-menu>
        <ion-side-menu-content>
            <div class="bar bar-header">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </div>
            <ion-content class="has-header">
                <h4>Roll {{result.notation}}</h4>

                <h2>Total: {{result.total}} <button ng-click="roll(count, sides, modifier)">Reroll</button></h2>

                <h5>Individual Die Rolls</h5>
                <ul>
                    <li ng-repeat="roll in result.rolls">{{roll.value}} <button ng-click="reroll(result, roll.index)">Reroll</button></li>
                    <li ng-if="!!modifier">+ {{modifier}}</li>
                </ul>

            </ion-content>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>