@import "../www/lib/ionic/scss/ionic";

.ion-download {
    @extend .ion-android-download;
}

.ion-gear {
    @extend .ion-ios-gear;
}

.ion-gear-outline {
    @extend .ion-ios-gear-outline;
}

.ion-color-wand {
  @extend .ion-ios-color-wand;
}

.ion-color-wand-outline {
  @extend .ion-ios-color-wand-outline;
}

.platform-android {
  .ion-download {
    @extend .ion-android-download;
  }
}

.platform-ios {
  .ion-download {
    @extend .ion-ios-download;
  }
}

.icon.ion-d20 {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('/img/d20.png');
  background-size: contain;
}

.tabs .tab-item .icon.mcfly {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('https://raw.github.com/driftyco/ionic-site/gh-pages/img/docs/mcfly.jpg');
  background-size:contain;
}