/* Empty. Add your own CSS if you like */
.spell.item {
    padding-left: 1em;
}

.spell, .spell h2 {
    font-family: 'Times New Roman', Times, serif
}

.spell .level {
    font-style: italic;
}

.spell h2 {
    font-size: 1.2em;
    color: maroon;
    font-variant: small-caps;
}

.spell label {
    font-weight: bold;
}

.spell .source {
    float: right;
    font-style: italic;
    font-size: 0.75em;
}